<div class="main-section portfolio-section">
    <h1 class="main-title">Portfolio</h1>
  
    <p>A quick glimpse of my work. Unless explicitly stated otherwise, <strong>all their back-end and front-end parts
        were completely done by me.</strong></p>
  
    <div class="timeline portfolio-timeline">
      <ul>
        <li class="timeline_element project">
            <div class="timeline_element-date">BlobCity<br>
              <time class="timeline_element-date-text">2019 - 2021</time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a>
                  <div class="project-title">Project Lead for IOS and Android Mobile Application for Long Dog Ventures Ltd<br>
                    Application Name: My Box Ticker
                </div>
                </a>
                <div class="project-description"><p><strong>Mobile Application that lets you compete  with your friends on same bucket list items </strong></p>
    
    <p></p>
    
    <ol>
  <li>
Worked on UI and logic part on frontend   </li>
<li> Worked on major parts on camera integration,image library ,profile sections,push notifications for both android and ios
</li>
  
<li>
    Made API's on node for the comments ,followers and following,likes ,image uploads ,posts,excel uploads and converting it to heirarchy </li>
  
    <li>
        Deployment to IOS through Xcode  </li>
        <li>
            Deployment to Google Play Store  </li>
    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies & Tools</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >React Native</a></li>
                    
                    <li><a class="button button-red">Node</a></li>
                    <li><a  class="button button-red ">Android Studio</a></li>
                    <li><a  class="button button-red ">Xcode</a></li>


                    <li><a  class="button button-red ">No SQL Database</a></li>
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
              <div class="project-image">
                
                <div id="carouselExample" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500">
                  <div class="carousel-indicators" >
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="8" aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="9" aria-label="Slide 10"></button>


                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/MBT-screenshots/1242x2688bb.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (1).png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (2).png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (3).png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (4).png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (5).png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (6).png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (7).png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (8).png" class="d-block w-100" alt="...">
                    </div><div class="carousel-item">
                      <img src="../../assets/MBT-screenshots/1242x2688bb (9).png" class="d-block w-100" alt="...">
                    </div>
               
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            
            </div>
              
            </div>
          </li>
        <li class="timeline_element project">
            <div class="timeline_element-date">
              <time class="timeline_element-date-text"></time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a>
                  <div class="project-title">Mobile Application for WRG(World Bank Group)
                </div>
                </a>
                <div class="project-description"><p><strong>Simple mobile application that calculates consumption of water in an year based on household appliances used (desert coolers,refrigirators,washing machine etc).
                    Based on difference in consumption of water per year and average consumption unit /country  generates WRG certificates to promote and educate on saving water. 
                    </strong></p>
    
    <p></p>
    
    <ol>
  <li>Worked on UI and logic part on frontend   </li>
  <li>Worked on API for calculations of WRG certificates </li>
  <li>Deployed the application  in IOS Test Flight .It is currently in beta testing  </li>




  
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >React Native </a></li>
                    
                    <li><a class="button button-red">Node</a></li>
                    
                    <li><a  class="button button-red ">No SQL Database</a></li>
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
              <div class="project-image">
                
                  <div id="carouselExampleIndicators" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500" >
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                


                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.23.00.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.23.09.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.01.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.17.png" class="d-block w-100" alt="...">
                      </div>    <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.26.png" class="d-block w-100" alt="...">
                      </div>    <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.35.png" class="d-block w-100" alt="...">
                      </div>    <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.46.png" class="d-block w-100" alt="...">
                      </div>    <div class="carousel-item">
                        <img src="../../assets/WRC/Simulator Screen Shot - iPhone 11 - 2021-08-02 at 19.24.56.png" class="d-block w-100" alt="...">
                      </div>
                
                 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                
              </div>
              
            </div>
          </li>
         
          <li class="timeline_element project">
            <div class="timeline_element-date">
              <time class="timeline_element-date-text"></time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a  class="project-link">
                  <div class="project-title">AI Cloud Platform ( BlobCity)</div>
                </a>
                <div class="project-description"><p><strong>BlobCity's AI cloud platform enables user to launch a GPU-enabled Notebook from your browser in seconds. Notebooks are fully-managed and do not require any setup or management of servers or dependencies.</strong></p>
    
    <p></p>
    
    <ol>
      <li>Made the important modules(Projects ,Datasets ,Profile,resume) completely for the  project including the front end in angular and backend APIs in node 
         </li>
      <li>Made the custom nb viewer to see the code
    </li>
      <li>Made the major fix in the project on opening cloudbooks .Earlier the cloudbooks could be created only by entering the password for the jupyter notebook which made the customer experience not so comfortable .Now the cloudbooks dont require password and can be opened with ease .<strong>This was a major change in the way cloudbooks were used </strong> .
    </li>
      <li>Made the snapshots section for the cloudbook where the snapshots can be made with every change in cloudbooks </li>
      <li>Stripe gateway for payment integration</li>

    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >Angular</a></li>
                    <li><a class="button button-red" >Node</a></li>
                    
                   
                    
                    
                    
                  </ul>
                </div>
              </div>
              <div class="project-image" style="width: 50%;">
                
                <div id="carouselExampleIndicators2" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500" >
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6" aria-label="Slide 7"></button>
              


                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.52.12 PM.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.53.12 PM.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.53.38 PM.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.54.14 PM.png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.54.34 PM.png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.54.54 PM.png" class="d-block w-100" alt="...">
                    </div>    <div class="carousel-item">
                      <img src="../../assets/BlobcityScreens/Screenshot 2021-08-02 at 8.55.26 PM.png" class="d-block w-100" alt="...">
                 
              
               
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              
            </div>
              
            
              
            </div></div>
          </li>
        <li class="timeline_element project">
            <div class="timeline_element-date">
              <time class="timeline_element-date-text"></time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a class="project-link">
                  <div class="project-title">Visual charts ( BlobCity Internal )</div>
                </a>
                <div class="project-description"><p><strong>This platform allows user to  generate charts of different types by providing data in correct format</strong></p>
    
    <p></p>
    
    <ol>
      <li>Worked in BlobCity’s internal product for plotting of charts .The frontend is made in angular that can be integrated to any project with the iframe </li>
      <li>The data is sent to APIs in a format having parameters for chart type output required etc </li>
      <li>Backend is made in node for making APIs that give the desired data for output in JSON format </li>
      <li>Chart for the project is plotted based on output received in a particular format based on chart type </li>
    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >Angular</a></li>
                    <li><a class="button button-red" >Node</a></li>
                    
                   
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
            
              
            </div>
          </li>
        
        
        <li class="timeline_element project">
          <div class="timeline_element-date">
            <time class="timeline_element-date-text"> </time>
          </div>
  
          <div class="timeline_element-contents">
            <div class="project-text">
              <a class="project-link">
                <div class="project-title">Project Lead for Underwriters Laboratories</div>
              </a>
              <div class="project-description"><p><strong>This platform allows UL Inspectors to upload checklists of standards(Ex NFPA) and conduct assessment of compliance for worldwide listed hotels based on same</strong></p>
  
  <ul>
      
    <li>Built an entire SaaS platform that allows the UL Inspectors team to carry out their surveys based on compliance of various standards on web and mobile platform effectively .</li>
    <li>Being one of the only 2 developers in the back-end team, planned the entire architecture and developed the entire product from scratch.</li>
      <li>Developed 5 modules single-handedly and owned their complete responsibility from end to end.</li>
</ul>
  </div>
  <div class="project-description"><p><strong>Mobile application that allows UL Inspectors to conduct assessments remotely </strong></p>
  
    <ul>
       <li>Collection of data while connected to internet saving the data in mobile's memory  </li>
        <li>
            Conduct of assessment offline and synchronisation of data when the phone is connected to internet
        </li>
        <li>
            Released beta version in testflight for IOS
        </li>
     
  </ul>
    </div>
         
  
              <div class="project-technologies">
                <div class="technologies-title">Technologies</div>
                <ul class="tech-tags">
                  
                  <li ><a  class="button button-red" >Angular 8</a></li>
                  
                  <li ><a class="button button-red">Node</a></li>
                  
                  <li><a class="button button-red">No SQL Database</a></li>
                  <li><a class="button button-red">React Native </a></li>
                  <li><a class="button button-red">Redux</a></li>

                  
                  
                </ul>
              </div>
            </div>
  
        
            
          </div>
        </li>
        
        <li class="timeline_element project">
          <div class="timeline_element-date">
            <time class="timeline_element-date-text"></time>
          </div>
  
          <div class="timeline_element-contents">
            <div class="project-text">
              <a class="project-link">
                <div class="project-title">Team Lead for IUCN(International Union for Conservation of Natural resources),Mongolia</div>
              </a>
              <div class="project-description"><p><strong></strong></p>
  
  <p>Built an effective SaaS platform for  collection of Climatological data worldwide and  analysing impact on Groundwater resources for IUCN(International Union for Conservation of Natural resources) .<strong>This is currently being used by the Mangolian government</strong>  </p>
  
  <ol>
    <li>Based on data, the charts were plotted and compared between different timelines,weather parameters collected (Pressure, Temperature, Hardness, Wind speed, TDS, etc) and different sources of collection.</li>
    <li><strong>Multilingual application</strong>  using internationalisation that could switch language between English and Mongolian
    </li>
    <li>
        The prediction for groundwater was shown based on Time series forecasting

    </li>
</ol>
  </div>
  
            
              <div class="project-technologies">
                <div class="technologies-title">Technologies</div>
                <ul class="tech-tags">
                  
                  <li><a class="button button-red" >Angular</a></li>
                  
                  <li><a class="button button-red">Node</a></li>
                  
                  <li><a  class="button button-red ">No SQL Database</a></li>
                  
                  
                  
                </ul>
              </div>
            </div>
  
            
          
            
          </div>
        </li>
     
          <li class="timeline_element project">
            <div class="timeline_element-date">
              <time class="timeline_element-date-text"></time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a  class="project-link">
                  <div class="project-title">Jaguar Land Rover Competitive Analysis Tool</div>
                </a>
                <div class="project-description"><p><strong>This tool allows comparing prices between different car models worldwide and adding or substracting features in a car model to evaluate correct market price for the car</strong></p>
    
    <p></p>
    
    <ol>
      <li>Integrated charts for the comparasion of data </li>
    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >Angular</a></li>
                    
                   
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
            
              
            </div>
          </li>
          <li class="timeline_element project">
            <div class="timeline_element-date">
              <time class="timeline_element-date-text"></time>
            </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a  class="project-link">
                  <div class="project-title">Visual charts ( BlobCity Internal )</div>
                </a>
                <div class="project-description"><p><strong>This platform allows the user to generate charts of different types by providing data in correct format</strong></p>
    
    <p></p>
    
    <ol>
      <li>BlobCity’s internal product for plotting of charts .The frontend is made in angular that can be integrated to any project with the iframe </li>
      <li>The data is sent to APIs in a format having parameters for chart type , output required etc </li>
      <li>Backend is made in node for making APIs that give the desired data for output in JSON format </li>
      <li>Chart for the project is plotted based on output received in a particular format based on chart type </li>
    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >Angular</a></li>
                    <li><a class="button button-red" >Node</a></li>
                    
                   
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
            
              
            </div>
          </li>
          <li class="timeline_element project">
            <div class="timeline_element-date">TCS <br>
                <time class="timeline_element-date-text">2017 - 2019</time>
              </div>
    
            <div class="timeline_element-contents">
              <div class="project-text">
                <a  class="project-link">
                  <div class="project-title">TCS Work Experience(System Engineer)</div>
                </a>
                <div class="project-description">
    
    <p></p>
    
    <ol>
      <li>Worked on BaNCS (TCS Banking Solution ) which  provides Backend banking support to its clients .Whenever  a transaction is made in front end by cashier or  teller,through different gateways it reaches backend wherein after all validations transactions are made and updated in database.Made backend changes in programs  based on customer requirements using Cobol and Unix </li>
      <li>Worked on IBM Integration Bus for making web services
    </li>
      <li>Built complete POC  individually in angular that could translate in English and Japanese using internationalization .It took user data and sent it to Xml, filled existing pdf form through the user entered data .Saved the data in Mongo database </li>
    
  </ol>
    </div>
    
              
                <div class="project-technologies">
                  <div class="technologies-title">Technologies</div>
                  <ul class="tech-tags">
                    
                    <li><a class="button button-red" >Angular</a></li>
                    <li><a class="button button-red" >Node JS</a></li>
                    <li><a class="button button-red" >IBM Integration Bus</a></li>
                    <li><a class="button button-red" >Soap UI</a></li>
                    <li><a class="button button-red" >Cobol </a></li>
                    <li><a class="button button-red" >Unix </a></li>


                    
                   
                    
                    
                    
                  </ul>
                </div>
              </div>
    
              
            
              
            </div>
          </li>
       
       
      
        

        
      </ul>
    </div>
  </div>