<div class="main-section offer-section">
  <h1 class="main-title">My offer</h1>

  <p>
    Self taught programmer
    <span class="red">Full-Stack software engineer</span> with close to 7 years
    of work experience in front-end and back-end engineering. Career ranging
    from a MNC to freelancing to being core tech member of Best startup in
    software category by Silicon India and Most innovative product at Net app
    accelerator..
  </p>

  <p>
    <strong
      >I have maintained, developed and launched
      <a href="/portfolio/" class="nocolor">multiple projects</a>
      from scratch</strong
    >, carrying the development of its' back-end and front-end codebases.
  </p>

  <p>
    My current toolset includes Skills
    <br />● Backend Technologies: Node (Monolithic & Microservices
    architecture), Express, TypeScript <br />
    ● Frontend Frameworks & Libraries: React.Js , React Native,Redux, Material
    UI, Tailwind, Bootstrap, Angular, JavaScript <br />● Databases: mongoDB,
    Redis <br />● Operations: Docker deployments,Deploying services on Google
    Cloud Platform instances, Digital Ocean, Deploying services of App Engine of
    GCP for monitoring <br />● Server : nginx, Apache <br />● Project
    Management: Jira, Confluence, Slack, Bitbucket, Github <br />● Payment
    Integrations : Stripe, Razor Pay, Cashfree <br />● Email Integrations:
    Sendgrid, Twilo <br />
    ● IDE: VS Code , Sublime Text
  </p>

  <p><strong>I can help you with all the sides of your project:</strong></p>
  <ul>
    <li>Leading/co-developing the back-end and front-end,</li>
    <li>Setting up the CI/CD,</li>
    <li>Mentoring the team,</li>
    <li>Estimating tasks,</li>
    <li>Researching possible techs,</li>
    <li>Leading, launching and monitoring the project.</li>
  </ul>

  <p>
    <em>Call me SCAP (Super Crazy Awesome Programmer)</em>
  </p>

  <hr />

  <h2 class="red">
    <i style="font-weight: 100" class="fa fa-edit"></i>
    Front-end Engineering
  </h2>

  <p>
    <strong
      >I specialize in web applications written in both React and Angular and
      React Native for mobile applications</strong
    >
  </p>

  <p>My current experience and skills in front-end includes:</p>
  <ul>
    <li>
      Lead TypeScript/JavaScript development: bootstraping, refactoring,
      improving the structure, reliability, build setup;
    </li>

    <li>good sense of design and UX,</li>
    <li>
      Good experience in many of the JS ecosystems, by having used in the past
      many libraries like Next.js, React, Redux, Redux-Observable, RxJS,
      Angular, jQuery and many else.
    </li>
  </ul>

  <hr />

  <h2 class="red">
    <i style="font-weight: 100" class="fa fa-code"></i> Back-end Engineering
  </h2>

  <p>
    <strong
      >In back-end development, my current stack involves
      <a rel="nofollow">Node JS</a></strong
    >
  </p>
  <p>
    Nearly every app I have launched in the past had the back-end done also by
    me. In order to improve the development speed, performance and reliability
    and deployed services in docker
  </p>

  <ul>
    <li>Splitting the back-end into separate domains and microservices,</li>
    <li>
      Cooperation with APIs, remote data synchronizations, cloud servers,
      asynchronous workers,
    </li>
    <li>
      Using different types of databases (like
      <a rel="nofollow">No SQL</a>,

      <a rel="nofollow">PostgreSQL</a>, <a rel="nofollow">MySQL</a>, )
    </li>
    <li>
      Dividing the servers into different machine nodes / docker containers;
      database sharding; load balancing,
    </li>

    <li>Writing unit and e2e tests</li>

    <li>API documentation</li>
  </ul>

  <hr />
</div>
