<div class="main-section offer-section">
    <h1 class="main-title">My offer</h1>
  
    <p>
         
Self taught programmer <span class="red">full-stack software engineer</span> with close to 5 years of work experience in front-end and back-end engineering. Creer ranging from a MNC to freelancing to being core tech member of Best startup in software category by Silicon India and Most innovative product at Net app accelerator..

      
    </p>
  
    <p>
      <strong>I have maintained, developed and launched
        <a href="/portfolio/" class="nocolor">multiple projects</a>
        from scratch</strong>, carrying the development of its' back-end and front-end codebases.
    </p>
  
    <p>
      My current toolset includes
      <strong>Node JS, </strong>
      <strong>PL/SQL,NoSQL(Blobcity Database,MongoDB) ,
    </strong>

      <strong>Angular, </strong>
      <strong>ReactJS, </strong>
      <strong>React Native, </strong> Redux, TypeScript ,IBM Integration Bus,Docker,Xcode,Microsoft visual studio,git,Jira,Android studio,Eclipse,SQL server management studio,Putty,Soap UI,Postman,Pycharm,Redux, TypeScript and all the other
      various frameworks, libraries and technologies related to them.
    </p>
  
    <p><strong>I can help you with all the sides of your project:</strong></p>
    <ul>
      <li>Leading/co-developing the back-end and front-end,</li>
      <li>Setting up the CI/CD,</li>
      <li>Mentoring the team,</li>
      <li>Estimating tasks,</li>
      <li>Researching possible techs,</li>
      <li>Leading, launching and monitoring the project.</li>
    </ul>
  
    <p>
      <em>Call me SCAP (Super Crazy Awesome Programmer)</em>
    </p>
  
    <hr>
  
    <h2 class="red">
      <i style="font-weight: 100;"class="fa fa-edit"></i>
      Front-end Engineering
    </h2>
  
    <p>
      <strong>I specialize in web applications written in both React and Angular and React Native for mobile applications</strong>
      </p>
  
    <p>
      My current experience and skills in front-end includes:
    </p>
    <ul>
      <li>
        lead TypeScript/JavaScript development: bootstraping, refactoring,
        improving the structure, reliability, build setup;
      </li>
      
      <li>
        good sense of design and UX,
      </li>
      <li>
        good  experience in many of the JS ecosystems, by having used in the
        past many libraries like Next.js, React, Redux, Redux-Observable, RxJS,
        Angular, jQuery and many
        else.
      </li>

    </ul>
  

  
    <hr>
  
    <h2 class="red">
        <i style="font-weight: 100;" class="fa fa-code"></i>     Back-end Engineering
    </h2>
  
    <p>
      <strong>In back-end development, my current stack involves
        <a rel="nofollow">Node JS</a> and
        <a rel="nofollow">Python</a></strong>
    </p>
    <p>
      Nearly every app I have launched in the past had the back-end done also by
      me. In order to improve the development speed, performance and reliability and
     deployed services in docker
    </p>
    
  
   
  
    <ul>
      
      <li>
        splitting the back-end into separate domains and microservices,
      </li>
      <li>
        cooperation with APIs, remote data synchronizations, cloud servers,
        asynchronous workers,
      </li>
      <li>
        using different types of databases (like
        <a rel="nofollow">No SQL</a>,

        <a  rel="nofollow">PostgreSQL</a>,
        <a rel="nofollow">MySQL</a>,
      )
      </li>
      <li>
        dividing the servers into different machine nodes / docker containers;
        database sharding; load balancing,
      </li>
      
      <li>
        writing unit and e2e tests
      </li>
       
      <li>
        Swagger support for API documentation
      </li>
    </ul>
  
    <hr>
  

  </div>